[submodule "tests/resources/write_a_c_compiler"]
	path = tests/resources/write_a_c_compiler
	url = git@github.com:nlsandler/write_a_c_compiler.git
[submodule "writing-a-c-compiler-tests"]
	path = writing-a-c-compiler-tests
	url = https://github.com/nlsandler/writing-a-c-compiler-tests.git
